<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://rpacs.icr.ac.uk/">
  <head>
    <title>ROI-Engine</title>
  </head>
  <body class="index">
    <div id="header">
      <h1>ROI-Engine</h1>
    </div>

    <p><a class="action" href="/loginForm/">Login to view the contents</a></p>
    <p><a class="action" href="/registerForm/">Register if you don't have
    an account</a></p>

    <div id="footer">
      <hr />
      <p class="legalese">ROI-Engine © 2010 Hoo Chang Shin</p>
    </div>
  </body>
</html>
    