<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://rpacs.icr.ac.uk/">
  <head>
    <title>ROI-Engine</title>
  </head>
  <body class="index">
    <div id="header">
      <h1>ROI-Engine Main Page</h1>
    </div>

	
	<!-- FOR LOCAL TEST
	<p><a href="http://localhost:8080/roi-engine-doc">ROI-Engine Documentation </a></p>
	-->	
	<!-- Linux-AppServer-VM -->
	<!--<p><a href="http://192.168.56.101:8080/roi-engine-doc">ROI-Engine Documentation </a></p>!-->

	<p><a class="action" href="/webappsForm/">Use our apps-for-research-on-the-cloud on web-browser</a></p>	

    <div id="footer">
      <hr />
      <p class="legalese">ROI-Engine © 2010 Hoo Chang Shin</p>
    </div>
  </body>
</html>

