<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://rpacs.icr.ac.uk/">
  <head>
    <title>ROI-Engine: ROI Search Engine</title>
  </head>
  <body class="index">
    <div id="header">
      <h1>ROI Search Engine</h1>
    </div>
    
    
    
	
	<h2>Upload the files</h2>
	<form action="upload" method="post" enctype="multipart/form-data">
    DICOM-files-in-ZIP name: <input type="file" name="dicomFileZip" /><br />
    <input type="submit"/>
    </form>
    


    <div id="footer">
      <hr />
      <p class="legalese">ROI-Engine © 2010 Hoo Chang Shin</p>
    </div>
  </body>
</html>

