<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://rpacs.icr.ac.uk/">
  <head>
    <title>ROI-Engine: Applications</title>
  </head>
  <body class="index">
    <div id="header">
      <h1>Applications</h1>
    </div>

    <p><a class="action" href="/readMriwXML/">Read the MRIW-XML, show ROI in it and generate ROI-XML.</a></p>
    <p><a class="action" href="/showROI/">Suggest ROIs in normal MRI-scan DICOM files.</a></p>
    <p><a class="action" href="/showROI-wb/">Merge, order, show the image and show ROIs in whole body MRI-scan DICOM files.</a></p>
    
    <div id="footer">
      <hr />
      <p class="legalese">ROI-Engine © 2010 Hoo Chang Shin</p>
    </div>
  </body>
</html>
